<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<div class="container">
        <div>
          <% if (data) { %>
          <ul>
            <% for (var key in data) { %>
            <li>
              <h2><%= key.charAt(0).toUpperCase() + key.slice(1); %>: <span> <%= data[key] %></span></h2>
            </li>
            <% } %>
          </ul>
          <% } else{ %>
          <h2>Name: <span> <%= Name %> </span></h2>
          <h2>Surname : <span> <%= Surname %></span></h2>
          <h2>sID : <span> <%= sID %></span></h2>
          <% } %>
        </div>
    </div>
    </body>
    </html>