<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
        <h1><%= My Form %></h1>
        <form method="POST" action="/formdata">
          <input name="name" type="text" id="name" placeholder=" Enter you name " />
          <input name="Surname" type="text" id="Surname" placeholder="Enter your Surname" />
          <input name="sID" type="text" id="sID" placeholder="Enter your comment."></input>
          <input type="submit" value="Submit">
      </form>
</body>
</html>